.App {
  text-align: center;
  font-family: 'Archivio', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.interactiveCard {
  cursor: pointer;
  border: 1px solid grey;
  background-color: #ddd8c4;
  color: #ddd8c4;
}

.interactiveCard:active {
  border: 2px solid black;
  background-color: #ddd8c4;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.jss3 {
  width: 55px;
  height: 4px;
  margin: 8px auto 0;
  display: block;
  text-align: left;
  background-color: #141E27;
}

.completed {
  text-decoration: line-through
}
